<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.label :name %>
    <%= form.collection_select(:activity_type_id, ActivityType.all, :id, :name, {:prompt => 'Select an Acitvity'}, id: "activity_name" ) %>

    <%= form.label :date %>
    <%= form.date_field :date, id: "activity_date"%>

    <%= form.label :duration %>
    <%= form.number_field :duration, id: "activity_duration"%>

    <%= form.submit %>
  </div>
<% end %>
