<div class="jumbotron">
  <h3>Activities</h3>
  <div class="row">

    <% @activities.each do |activity| %>
      <div class="activity col-lg-3 col-md-4 col-sm-6">
        <div style="background: green;" class="image">
          <h5><%= activity.name %></h5>
          <p><i class="far fa-calendar"></i> <%= activity.date %></p>
          <p><i class="far fa-clock"></i> <%= activity.duration %> mins</p>
        </div>
        <div class="modify">
          <%= link_to '<i class="fas fa-trash"> </i>'.html_safe, activity, method: :delete, data: { confirm: 'Are you sure?' },  :class => "float-right" %>
          <%= link_to 'Edit', edit_activity_path(activity),  :class => "float-right" %>
          </div>
      </div>
    <% end %>

  </div>
  <br>

  <%= link_to 'New Activity', new_activity_path, :class => "submit-button" %>
</div>


